.add-watch {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15vh;
}

.info-time {
  width: 100px;
  padding: 0 10px;
  border: 1px solid black;
  text-align: center;
}

.watch-bar {
  display: flex;
  flex-wrap: wrap;
}
.watch {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 180px;
  height: 180px;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
  background: cadetblue;
}

.watch_title {
  color: aliceblue;
}

.watch_second-hand {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40% -1px 0 0;
  padding: 40% 1px 0;
  background: #fff;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.watch_hour-hand {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -4px 0 -4px -25%;
  padding: 4px 0 4px 25%;
  background: #fff;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  border-radius: 4px 0 0 4px;
}

.watch_minute-hand {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40% -3px 0;
  padding: 40% 3px 0;
  background: #fff;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  border-radius: 3px 3px 0 0;
}
